{% extends "template.html" %}

{% block content %}
    <div class="columns is-centered is-vcentered">
        <div class="column is-one-third">
            <div class="box mt-5">
                <form action="/login" method="POST">
                    <div class="field">
                        <label class="label">
                            Username
                        </label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" required>
                            <span class="icon is-left">
                                <ion-icon name="person-outline"></ion-icon>
                            </span>
                        </div>
                        <p class="help">Your username is probably your email address</p>
                    </div>
                    <div class="field">
                        <label class="label">
                            Password
                        </label>
                        <div class="control has-icons-left">
                            <input class="input" type="password" required>
                            <span class="icon is-left">
                                <ion-icon name="key-outline"></ion-icon>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-link">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{%endblock %}